<div id="add-appointments" v-cloak>
  <div class="container">
    <h1 class="text-center">Add Appointment</h1>
    <div class="add-appointments-form-container">
      <hr/>
      <ajax-form action="addAppointments" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="name" class="form-control" placeholder="Patient name" v-model.trim="formData.name">
          <div class="invalid-feedback" v-if="formErrors.name">Please provide a valid patient name</div>
        </div>
        <div class="form-group">
          <input type="phone" class="form-control" placeholder="Patient Phone Number" v-model.trim="formData.phone">
          <div class="invalid-feedback" v-if="formErrors.phone">Please provide a valid patient phone number</div>
        </div>
        <div class="form-group">
          <input type="pincode" class="form-control" placeholder="Patient Pincode" v-model.trim="formData.pincode">
          <div class="invalid-feedback" v-if="formErrors.pincode">Please provide a valid patient pincode</div>
        </div>
        <div class="form-group">
          <input type="doctorName" class="form-control" placeholder="Doctor name" v-model.trim="formData.doctorName">
          <div class="invalid-feedback" v-if="formErrors.doctorName">Please provide a valid doctor name</div>
        </div>
        <div class="form-group">
          <input type="time" class="form-control" placeholder="Appointment Time" v-model.trim="formData.time">
          <div class="invalid-feedback" v-if="formErrors.time">Please provide a valid time</div>
        </div>







       <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Add</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
