<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="" full-page-hero>
    <div class="text-center heading">
      <h1 class="display-4">Welcome to Nice Smile Clinic</h1>
    </div>
    <div class="details">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action">View Available Doctors</li>
        </ul>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>